@font-face {
    font-family: "shabnam";
    src: url("../fonts/Shabnam-FD.woff2") format("woff2");
}

*{
    box-sizing: border-box;
    font-family: "shabnam",sans-serif;
}

body{
  overflow-x: hidden;
  scrollbar-width: 0;
  background-color: #ffffff;
  padding: 15px;
}

.top{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 20px;
    background-color: #c88f24;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.title span{
    font-size: 22px;
}

.title p{
    font-size: 14px;
}

.container{
    margin-right: 10px;
    margin-top: 20px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lang{
    display: flex;
    align-items: center;
}

.lang img{
    width: 150px;
}

.cont{
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
    margin-right: 5%;
    color: #fefffe;
    background-color: #c88f24;
}